# About this file

The file `hotel_bookings.csv` contains data on hotel bookings, including information on guest demographics, booking details, and reservation status.

Column Descriptions

- **hotel**: Indicates the type of hotel (resort or city). (Categorical)
- **is_canceled**: Specifies whether the booking was canceled or not (0=not canceled, 1=canceled). (Binary)
- **lead_time**: Represents the number of days between the booking date and the arrival date. (Numerical)
- **arrival_date_year**: Denotes the year of the arrival date. (Categorical)
- **arrival_date_month**: Indicates the month of the arrival date. (Categorical)
- **arrival_date_week_number**: Specifies the week number in which guests arrived at the hotel. (Numerical)
- **arrival_date_day_of_month**: Represents a specific day of arrival within a month. (Numerical)
- **stays_in_weekend_nights**: Indicates how many nights (Saturday or Sunday) guests stayed or booked to stay at a hotel during weekends. (Numerical)
- **stays_in_week_nights**: Represents how many weeknights (Monday to Friday) guests stayed or booked to stay at a hotel during weekdays. (Numerical)
- **adults**: Indicates the number of adults included in each booking. (Numerical)
- **children**: Indicates the number of children included in each booking. (Numerical)
- **babies**: Indicates the number of babies included in each booking. (Numerical)
- **meal**: Describes what type of meal was booked (Breakfast only, Half board, Full board, or Undefined/SC â€“ no meal package). (Categorical)
- **country**: Denotes the country-of-origin for each guest who made a reservation. (Categorical)
- **market_segment**: Shows various market segments that individuals belong to when making reservations (e.g., Online Travel Agents, Offline Travel Agents, Corporate clients). (Categorical)
- **distribution_channel**: Specifies different channels through which bookings were made (e.g., online travel agencies, direct bookings with hotels/tour operators, corporate arrangements). (Categorical)
- **is_repeated_guest**: Indicates whether the guest is a repeated visitor (0=not repeated guest, 1=repeated guest). (Binary)
- **previous_cancellations**: Represents the number of times guests previously canceled their bookings. (Numerical)
- **previous_bookings_not_canceled**: Denotes the count of previous bookings made by guests that were not canceled. (Numerical)
- **reserved_room_type**: Identifies the type of room initially reserved. (Categorical)
- **assigned_room_type**: Identifies the type of room that was assigned to guests. (Categorical)
- **booking_changes**: Represents the number of changes made to the booking. (Numerical)
- **deposit_type**: Indicates the type of deposit made for the booking. (Categorical)
- **agent**: Represents the ID of the travel agency that made the booking. (Categorical)
- **company**: Represents the ID of the company that made the booking. (Categorical)
- **days_in_waiting_list**: Represents the number of days the booking was on the waiting list before being confirmed. (Numerical)
- **customer_type**: Indicates the type of customer (e.g., transient, contract, group, or other). (Categorical)
- **adr**: Represents the average daily rate (price per room) for the booking. (Numerical)
- **required_car_parking_spaces**: Indicates the number of car parking spaces required by the guest. (Numerical)
- **total_of_special_requests**: Represents the total number of special requests made by the guest (e.g., extra bed, room amenities). (Numerical)
- **reservation_status**: Indicates the status of the reservation (e.g., canceled, checked-in, no-show). (Categorical)
- **reservation_status_date**: Represents the date on which the reservation status was last updated. (Date)

# Import Data & Library

In [41]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.style as style
import matplotlib.ticker as mtick
from sklearn.model_selection import train_test_split, RepeatedStratifiedKFold, cross_val_score, RandomizedSearchCV
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score
from sklearn.ensemble import StackingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from xgboost import XGBClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.pipeline import Pipeline
from scipy.stats import chi2_contingency
from sklearn.feature_selection import f_classif
from sklearn.metrics import matthews_corrcoef
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.decomposition import PCA
%matplotlib inline


print('numpy version : ',np.__version__)
print('pandas version : ',pd.__version__)
print('seaborn version : ',sns.__version__)

numpy version :  1.24.3
pandas version :  1.5.3
seaborn version :  0.12.2

In [42]:
df = pd.read_csv('hotel_bookings_data.csv')
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_weekdays_nights,adults,...,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status
0,Resort Hotel,0,342,2017,September,27,1,0,0,2,...,3,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
1,Resort Hotel,0,737,2017,September,27,1,0,0,2,...,4,No Deposit,NaN,NaN,0,Personal,0.0,0,0,Check-Out
2,Resort Hotel,0,7,2017,September,27,1,0,1,1,...,0,No Deposit,NaN,NaN,0,Personal,75.0,0,0,Check-Out
3,Resort Hotel,0,13,2017,September,27,1,0,1,1,...,0,No Deposit,304.0,NaN,0,Personal,75.0,0,0,Check-Out
4,Resort Hotel,0,14,2017,September,27,1,0,2,2,...,0,No Deposit,240.0,NaN,0,Personal,98.0,0,1,Check-Out

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_weekdays_nights        119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  city                            118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  booking_changes                 119390 non-null  int64
 20  deposit_type                    119390 non-null  object
 21  agent                           103050 non-null  float64
 22  company                         6797 non-null    float64
 23  days_in_waiting_list            119390 non-null  int64
 24  customer_type                   119390 non-null  object
 25  adr                             119390 non-null  float64
 26  required_car_parking_spaces     119390 non-null  int64
 27  total_of_special_requests       119390 non-null  int64
 28  reservation_status              119390 non-null  object
dtypes: float64(4), int64(16), object(9)
memory usage: 26.4+ MB

In [44]:
df.shape

(119390, 29)

Hasil `df.shape` menunjukkan bahwa DataFrame `df` memiliki 119,390 baris dan 29 kolom. Ini berarti DataFrame tersebut terdiri dari 119,390 data (baris) dan 29 fitur (kolom).

## Descriptive statistics

In [45]:
nums = []
cats = []

for column in df :
  if df[column].dtypes in ['int64', 'float64'] :
    nums.append(column)
  else :
    cats.append(column)

num_count = len(nums)
cat_count = len(cats)

print('Number of numerical columns:', num_count)
print('Number of categorical columns:', cat_count)
print('-' * 70)
print('Numerical columns:', nums)
print('Categorical columns:', cats)

Number of numerical columns: 20
Number of categorical columns: 9
----------------------------------------------------------------------
Numerical columns: ['is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_weekdays_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']
Categorical columns: ['hotel', 'arrival_date_month', 'meal', 'city', 'market_segment', 'distribution_channel', 'deposit_type', 'customer_type', 'reservation_status']

Terdapat 20 kolom numerik ('nums') dan 9 kolom kategorikal ('cats') dalam DataFrame

In [46]:
df[nums].describe().T

,count,mean,std,min,25%,50%,75%,max
is_canceled,119390.0,0.370416,0.482918,0.00,0.00,0.000,1.0,1.0
lead_time,119390.0,104.011416,106.863097,0.00,18.00,69.000,160.0,737.0
arrival_date_year,119390.0,2018.156554,0.707476,2017.00,2018.00,2018.000,2019.0,2019.0
arrival_date_week_number,119390.0,27.165173,13.605138,1.00,16.00,28.000,38.0,53.0
arrival_date_day_of_month,119390.0,15.798241,8.780829,1.00,8.00,16.000,23.0,31.0
stays_in_weekend_nights,119390.0,0.927599,0.998613,0.00,0.00,1.000,2.0,19.0
stays_in_weekdays_nights,119390.0,2.500302,1.908286,0.00,1.00,2.000,3.0,50.0
adults,119390.0,1.856403,0.579261,0.00,2.00,2.000,2.0,55.0
children,119386.0,0.103890,0.398561,0.00,0.00,0.000,0.0,10.0
babies,119390.0,0.007949,0.097436,0.00,0.00,0.000,0.0,10.0
is_repeated_guest,119390.0,0.031912,0.175767,0.00,0.00,0.000,0.0,1.0
previous_cancellations,119390.0,0.087118,0.844336,0.00,0.00,0.000,0.0,26.0
previous_bookings_not_canceled,119390.0,0.137097,1.497437,0.00,0.00,0.000,0.0,72.0
booking_changes,119390.0,0.221124,0.652306,0.00,0.00,0.000,0.0,21.0
agent,103050.0,86.693382,110.774548,1.00,9.00,14.000,229.0,535.0
company,6797.0,189.266735,131.655015,6.00,62.00,179.000,270.0,543.0
days_in_waiting_list,119390.0,2.321149,17.594721,0.00,0.00,0.000,0.0,391.0
adr,119390.0,101.831122,50.535790,-6.38,69.29,94.575,126.0,5400.0
required_car_parking_spaces,119390.0,0.062518,0.245291,0.00,0.00,0.000,0.0,8.0
total_of_special_requests,119390.0,0.571363,0.792798,0.00,0.00,0.000,1.0,5.0

Kesimpulan dari statistik deskriptif diatas sebagai berikut:

1. **is_canceled**: Rata-rata proporsi pembatalan reservasi adalah sekitar 37%, dengan nilai maksimum 100%.

2. **lead_time**: Rata-rata lead time (waktu antara pemesanan dan kedatangan) adalah sekitar 104 hari, dengan nilai maksimum 737 hari.

3. **arrival_date_year**: Data mencakup tahun-tahun 2017-2019, dengan mayoritas reservasi terjadi pada tahun 2018.

4. **arrival_date_week_number** dan **arrival_date_day_of_month**: Menunjukkan distribusi kedatangan tamu dalam minggu dan hari tertentu dalam bulan.

5. **stays_in_weekend_nights** dan **stays_in_weekdays_nights**: Rata-rata jumlah menginap di akhir pekan adalah sekitar 0.93 malam, sedangkan di hari kerja rata-rata sekitar 2.5 malam.

6. **adults**, **children**, **babies**: Rata-rata jumlah tamu dewasa adalah sekitar 1.86, dengan kebanyakan reservasi tidak melibatkan anak-anak atau bayi.

7. **previous_cancellations** dan **previous_bookings_not_canceled**: Mayoritas tamu tidak pernah melakukan pembatalan sebelumnya atau reservasi yang tidak dibatalkan.

8. **booking_changes**: Mayoritas reservasi tidak mengalami perubahan.

9. **agent** dan **company**: Terdapat data agen dan perusahaan yang melakukan reservasi, tetapi mayoritas data kosong (NaN).

10. **days_in_waiting_list**: Rata-rata hari dalam daftar tunggu adalah sekitar 2.32 hari, dengan nilai maksimum 391 hari.

11. **adr** (Average Daily Rate): Rata-rata tarif harian adalah sekitar 101.83.

12. **required_car_parking_spaces** dan **total_of_special_requests**: Mayoritas reservasi tidak membutuhkan tempat parkir tambahan atau memiliki permintaan khusus.

In [47]:
df[cats].describe()

,hotel,arrival_date_month,meal,city,market_segment,distribution_channel,deposit_type,customer_type,reservation_status
count,119390,119390,119390,118902,119390,119390,119390,119390,119390
unique,2,12,5,177,8,5,3,4,3
top,City Hotel,October,Breakfast,Kota Denpasar,Online TA,TA/TO,No Deposit,Personal,Check-Out
freq,79330,13877,92310,48590,56477,97870,104641,89613,75166

Kesimpulan dari statistik deskriptif diatas sebagai berikut:

1. **hotel**: Mayoritas data hotel adalah "City Hotel" (66.5%), sedangkan sisanya adalah "Resort Hotel".

2. **arrival_date_month**: Bulan dengan jumlah kedatangan tamu terbanyak adalah Oktober, sedangkan bulan dengan jumlah kedatangan terendah adalah Januari.

3. **meal**: Mayoritas reservasi termasuk makanan "Breakfast" (77.4%), sedangkan jenis makanan lainnya seperti "HB" (Half Board), "FB" (Full Board), dan "SC" (Self Catering) memiliki proporsi yang lebih kecil.

4. **city**: Kota dengan jumlah reservasi terbanyak adalah Kota Denpasar, yang mungkin merupakan lokasi hotel yang paling populer atau pusat destinasi wisata.

5. **market_segment**: Mayoritas reservasi berasal dari segment pasar "Online TA" (Travel Agents), diikuti oleh "Offline TA/TO" (Travel Agents/Tour Operators) dan "Groups".

6. **distribution_channel**: Distribusi pemesanan terbanyak dilakukan melalui "TA/TO" (Travel Agents/Tour Operators), diikuti oleh "Direct" (pemesanan langsung dengan hotel) dan "Corporate".

7. **deposit_type**: Sebagian besar reservasi tidak memerlukan deposit ("No Deposit"), sedangkan sebagian kecil memerlukan deposit "Non Refund".

8. **customer_type**: Mayoritas pelanggan adalah "Transient" (tamu yang tidak termasuk kelompok atau paket), diikuti oleh "Transient-Party" (tamu individu yang terkait dengan kelompok).

9. **reservation_status**: Mayoritas reservasi telah selesai ("Check-Out"), sedangkan sebagian kecil masih dalam proses ("Canceled" atau "No-Show").

## Data Preprocessing

In [48]:
pd.set_option('display.max_rows', 5000)
for i in df.columns:
    if i not in 'CustomerID':
        print(f'''Value count kolom {i}:''')
        print(df[i].value_counts())
        print()

Value count kolom hotel:
City Hotel      79330
Resort Hotel    40060
Name: hotel, dtype: int64

Value count kolom is_canceled:
0    75166
1    44224
Name: is_canceled, dtype: int64

Value count kolom lead_time:
0      6345
1      3460
2      2069
3      1816
4      1715
5      1565
6      1445
7      1331
8      1138
12     1079
11     1055
9       992
10      976
14      965
16      942
17      881
15      839
19      839
34      828
18      826
13      821
28      820
20      750
40      722
29      712
22      707
32      690
31      685
21      678
56      676
39      673
37      673
26      671
24      665
36      663
30      659
35      655
25      653
27      649
33      643
23      643
44      633
41      607
55      575
38      575
47      568
68      564
69      558
45      537
72      531
53      530
50      527
59      520
74      519
61      513
48      506
46      495
49      479
43      479
54      472
66      466
42      464
86      461
102     458
57      457
87      450
88      448
65      448
92      441
80      440
67      439
60      436
52      435
99      430
75      425
64      423
71      423
112     423
98      420
115     420
62      414
104     413
105     412
73      402
58      401
63      398
116     395
82      393
95      392
134     384
78      384
70      384
83      378
103     377
113     373
96      368
51      366
151     365
81      360
164     358
79      357
77      357
97      356
76      351
93      350
101     350
100     347
84      345
85      344
169     337
140     336
91      334
111     333
94      333
178     325
158     324
168     322
150     322
277     318
89      315
152     312
124     308
156     306
128     304
162     303
213     303
143     301
131     300
130     297
129     297
166     297
117     297
109     297
110     297
181     295
159     295
183     293
90      293
192     293
118     292
122     288
137     286
135     286
175     280
148     278
123     276
141     274
180     270
108     267
133     265
107     265
121     264
174     263
142     259
132     259
138     257
155     256
106     255
120     252
177     252
188     251
172     251
126     250
219     250
198     250
125     247
186     247
211     246
157     245
114     245
119     242
146     242
145     242
165     242
153     242
136     238
179     232
127     231
265     230
161     230
221     223
139     221
144     219
189     219
147     218
163     217
173     215
207     212
199     212
171     210
185     210
215     209
160     207
247     206
210     204
184     202
245     200
316     200
212     198
292     196
203     195
149     195
208     191
167     191
301     190
226     190
193     189
286     189
195     187
304     181
386     180
154     179
170     175
197     174
191     174
259     170
305     168
336     167
279     165
275     164
256     164
364     163
190     160
176     160
273     160
204     159
214     158
182     155
239     154
205     154
222     151
236     150
244     149
233     149
220     149
276     149
323     148
302     147
206     146
201     145
240     145
225     145
342     145
258     145
272     143
200     143
196     140
223     139
278     138
287     136
257     132
315     132
187     131
405     129
224     128
251     126
320     126
238     126
262     126
274     125
267     124
283     123
281     122
194     120
241     117
270     115
335     115
237     112
202     110
288     110
290     109
295     108
230     108
423     108
346     106
253     105
468     105
218     105
414     105
261     105
297     104
309     104
243     104
263     102
351     102
217     101
330     101
322     100
209      99
260      98
350      98
317      97
229      96
300      93
231      92
337      92
289      92
227      91
271      91
250      91
254      91
377      89
314      88
327      88
457      88
216      87
312      86
246      86
396      85
393      85
232      83
269      83
248      82
311      81
307      81
313      81
282      79
280      79
268      78
235      77
228      76
266      76
294      75
252      74
328      73
358      73
339      72
383      72
234      69
379      68
285      68
344      67
264      66
451      66
365      65
321      64
349      62
418      60
296      60
291      60
333      59
255      59
308      58
420      57
391      55
334      54
395      54
242      53
249      53
433      52
325      51
332      50
318      49
298      49
326      47
462      46
303      45
310      45
372      44
293      44
338      44
299      44
359      44
341      42
368      40
437      40
444      40
355      40
443      37
343      36
348      35
319      35
329      35
353      35
306      34
479      33
398      33
454      33
419      32
412      32
426      32
440      32
447      32
461      32
475      32
284      32
356      31
465      31
352      31
626      30
605      30
407      29
464      29
373      29
422      29
385      29
363      28
434      27
360      27
518      26
504      26
476      26
448      26
367      25
409      25
384      25
411      24
542      23
374      21
324      20
340      20
388      20
378      19
357      18
531      17
524      17
538      17
545      17
517      17
566      17
552      17
559      17
496      17
573      17
580      17
587      17
594      17
601      17
608      17
615      17
622      17
629      17
503      17
510      17
489      17
482      17
397      17
331      16
394      15
429      15
345      14
478      13
347      12
408      11
450      11
493      10
467      10
361      10
521      10
507      10
410      10
490       9
354       9
471       6
406       6
381       5
390       4
460       3
376       3
445       3
389       3
366       3
382       2
403       2
362       2
399       2
375       2
380       1
458       1
737       1
709       1
435       1
387       1
424       1
400       1
370       1
532       1
371       1
463       1
Name: lead_time, dtype: int64

Value count kolom arrival_date_year:
2018    56707
2019    40687
2017    21996
Name: arrival_date_year, dtype: int64

Value count kolom arrival_date_month:
October      13877
September    12661
July         11791
December     11160
June         11089
August       10939
November     10508
May           9794
April         8068
January       6794
February      6780
March         5929
Name: arrival_date_month, dtype: int64

Value count kolom arrival_date_week_number:
33    3580
30    3087
32    3045
34    3040
18    2926
21    2854
28    2853
17    2805
20    2785
29    2763
42    2756
31    2741
41    2699
15    2689
27    2664
25    2663
38    2661
23    2621
35    2593
39    2581
22    2546
24    2498
13    2416
16    2405
19    2402
40    2397
26    2391
43    2352
44    2272
14    2264
37    2229
8     2216
36    2167
10    2149
9     2117
7     2109
12    2083
11    2070
45    1941
53    1816
49    1782
47    1685
46    1574
6     1508
50    1505
48    1504
4     1487
5     1387
3     1319
2     1218
52    1195
1     1047
51     933
Name: arrival_date_week_number, dtype: int64

Value count kolom arrival_date_day_of_month:
17    4406
5     4317
15    4196
25    4160
26    4147
9     4096
12    4087
16    4078
2     4055
19    4052
20    4032
18    4002
24    3993
28    3946
8     3921
3     3855
30    3853
6     3833
14    3819
27    3802
21    3767
4     3763
13    3745
7     3665
1     3626
23    3616
11    3599
22    3596
29    3580
10    3575
31    2208
Name: arrival_date_day_of_month, dtype: int64

Value count kolom stays_in_weekend_nights:
0     51998
2     33308
1     30626
4      1855
3      1259
6       153
5        79
8        60
7        19
9        11
10        7
12        5
13        3
16        3
14        2
18        1
19        1
Name: stays_in_weekend_nights, dtype: int64

Value count kolom stays_in_weekdays_nights:
2     33684
1     30310
3     22258
5     11077
4      9563
0      7645
6      1499
10     1036
7      1029
8       656
9       231
15       85
11       56
19       44
12       42
20       41
14       35
13       27
16       16
21       15
22        7
25        6
18        6
30        5
17        4
24        3
40        2
33        1
42        1
50        1
32        1
26        1
34        1
35        1
41        1
Name: stays_in_weekdays_nights, dtype: int64

Value count kolom adults:
2     89680
1     23027
3      6202
0       403
4        62
26        5
27        2
20        2
5         2
40        1
50        1
55        1
6         1
10        1
Name: adults, dtype: int64

Value count kolom children:
0.0     110796
1.0       4861
2.0       3652
3.0         76
10.0         1
Name: children, dtype: int64

Value count kolom babies:
0     118473
1        900
2         15
10         1
9          1
Name: babies, dtype: int64

Value count kolom meal:
Breakfast     92310
Dinner        14463
No Meal       10650
Undefined      1169
Full Board      798
Name: meal, dtype: int64

Value count kolom city:
Kota Denpasar                      48590
Kabupaten Bangka                   12129
Kota Yogyakarta                    10415
Kota Batu                           8568
Kabupaten Bandung                   7287
Kabupaten Kepulauan Seribu          3766
Kota Malang                         3375
Kabupaten Magelang                  2342
Kota Jakarta Barat                  2224
Kabupaten Belitung                  2104
Kabupaten Sleman                    2097
Kabupaten Sumedang                  1730
Kota Jakarta Timur                  1279
Kabupaten Garut                     1263
Kota Surabaya                       1024
Kota Cimahi                          999
Kota Bogor                           919
Kabupaten Pangandaran                669
Kota Jakarta Selatan                 632
Kota Semarang                        607
Kabupaten Tangerang                  500
Kota Bengkulu                        447
Kota Jakarta Pusat                   435
Kota Jakarta Utara                   426
Kabupaten Pandeglang                 362
Kabupaten Bogor                      287
Kabupaten Karawang                   259
Kota Banjar                          248
Kabupaten Blora                      230
Kota Tangerang                       214
Kabupaten Gresik                     197
Kota Jambi                           171
Kabupaten Cirebon                    152
Kabupaten Banyumas                   133
Kabupaten Purwakarta                 128
Kabupaten Banjarnegara               103
Kabupaten Subang                     101
Kabupaten Demak                      100
Kabupaten Indramayu                   85
Kota Gorontalo                        83
Kabupaten Jepara                      83
Kota Bandung                          81
Kota Bekasi                           80
Kabupaten Mojokerto                   75
Kota Tegal                            74
Kabupaten Pekalongan                  71
Kabupaten Kuningan                    68
Kabupaten Bandung Barat               67
Kabupaten Sukabumi                    65
Kabupaten Sragen                      65
Kabupaten Bangkalan                   59
Kabupaten Ciamis                      57
Kota Blitar                           57
Kabupaten Serang                      55
Kabupaten Boyolali                    51
Kabupaten Pati                        51
Kota Probolinggo                      51
Kabupaten Ponorogo                    48
Kota Magelang                         40
Kabupaten Brebes                      39
Kabupaten Pamekasan                   39
Kabupaten Wonogiri                    35
Kabupaten Purworejo                   34
Kabupaten Situbondo                   32
Kabupaten Klaten                      32
Kabupaten Wonosobo                    31
Kabupaten Sumenep                     29
Kabupaten Grobogan                    29
Kabupaten Bojonegoro                  28
Kabupaten Tulungagung                 27
Kabupaten Semarang                    26
Kabupaten Tasikmalaya                 26
Kota Sukabumi                         24
Kabupaten Karanganyar                 22
Kabupaten Ngawi                       21
Kabupaten Tegal                       19
Kabupaten Batang                      19
Kabupaten Kendal                      18
Kabupaten Trenggalek                  18
Kota Serang                           18
Kabupaten Bantul                      17
Kabupaten Purbalingga                 16
Kota Mojokerto                        16
Kabupaten Sidoarjo                    15
Kabupaten Banjar                      14
Kabupaten Banyuwangi                  14
Kabupaten Temanggung                  14
Kabupaten Lamongan                    13
Kabupaten Rembang                     12
Kabupaten Katingan                    12
Kabupaten Cianjur                     12
Kota Pangkal Pinang                   12
Kota Pekalongan                       11
Kabupaten Kediri                      10
Kabupaten Blitar                      10
Kabupaten Maluku Tenggara             10
Kota Lampung Timur                     9
Kabupaten Kutai Barat                  9
Kabupaten Kotawaringin Timur           9
Kabupaten Probolinggo                  8
Kabupaten Jombang                      8
Kabupaten Bondowoso                    8
Kabupaten Kudus                        8
Kabupaten Kepulauan Aru                8
Kabupaten Kebumen                      7
Kabupaten Lumajang                     7
Kabupaten Jember                       7
Kabupaten Nganjuk                      6
Kabupaten Cilacap                      6
Kota Samarinda                         6
Kabupaten Pringsewu                    5
Kota Tarakan                           5
Kabupaten Seruyan                      5
Kota Surakarta                         5
Kota Kediri                            5
Kabupaten Magetan                      5
Kabupaten Maluku Tenggara Barat        4
Kabupaten Halmahera Selatan            4
Kota Mataram                           4
Kota Tangerang Selatan                 4
Kabupaten Kapuas                       4
Kabupaten Sukamara                     4
Kota Palangka Raya                     4
Kota Tasikmalaya                       4
Kota Pontianak                         3
Kota Balikpapan                        3
Kabupaten Berau                        3
Kabupaten Pemalang                     3
Kabupaten Pacitan                      3
Kabupaten Murung Raya                  3
Kota Bontang                           2
Kabupaten Aceh Jaya                    2
Kabupaten Sumbawa                      2
Kabupaten Pesisir Barat                2
Kota Ternate                           2
Kota Banjarmasin                       2
Medan                                  2
Kabupaten Kapuas Hulu                  2
Kota Depok                             2
Kabupaten Tuban                        2
Kabupaten Kotawaringin Barat           2
Kabupaten Madiun                       2
Kota Pasuruan                          2
Kabupaten Kerinci                      2
Kabupaten Ketapang                     2
Kota Banjarbaru                        2
Kota Salatiga                          2
Kota Bukittinggi                       1
Kota Padang                            1
Kota Jayapura                          1
Kota Tidore Kepulauan                  1
Kabupaten Flores Timur                 1
Kabupaten Sukoharjo                    1
Kabupaten Nias                         1
Kabupaten Lombok Barat                 1
Kota Sabang                            1
Kota Lhokseumawe                       1
Kota Banda Aceh                        1
Kota Binjai                            1
Kabupaten Timor Tengah Selatan         1
Kabupaten Musi Banyuasin               1
Kabupaten Pasuruan                     1
Kabupaten Sampang                      1
Kabupaten Maluku Barat Daya            1
Kota Cirebon                           1
Kota Ambon                             1
Kabupaten Gunung Kidul                 1
Kota Bandar Lampung                    1
Kota Madiun                            1
Kota Cilegon                           1
Kota Batam                             1
Kabupaten Majalengka                   1
Kabupaten Malang                       1
Kabupaten Bekasi                       1
Kabupaten Barito Kuala                 1
Kota Palembang                         1
Kabupaten Maluku Tengah                1
Name: city, dtype: int64

Value count kolom market_segment:
Online TA        56477
Offline TA/TO    24219
Groups           19811
Direct           12606
Corporate         5295
Complementary      743
Aviation           237
Undefined            2
Name: market_segment, dtype: int64

Value count kolom distribution_channel:
TA/TO        97870
Direct       14645
Corporate     6677
GDS            193
Undefined        5
Name: distribution_channel, dtype: int64

Value count kolom is_repeated_guest:
0    115580
1      3810
Name: is_repeated_guest, dtype: int64

Value count kolom previous_cancellations:
0     112906
1       6051
2        116
3         65
24        48
11        35
4         31
26        26
25        25
6         22
19        19
5         19
14        14
13        12
21         1
Name: previous_cancellations, dtype: int64

Value count kolom previous_bookings_not_canceled:
0     115770
1       1542
2        580
3        333
4        229
5        181
6        115
7         88
8         70
9         60
10        53
11        43
12        37
13        30
14        28
15        21
16        20
25        17
17        16
18        14
19        13
20        12
21        12
22        10
24         9
27         9
26         7
28         7
23         7
29         6
30         4
31         2
32         2
58         2
48         2
44         2
62         1
56         1
57         1
59         1
60         1
61         1
65         1
63         1
64         1
66         1
67         1
68         1
69         1
70         1
71         1
54         1
55         1
36         1
53         1
41         1
33         1
34         1
35         1
37         1
38         1
39         1
40         1
42         1
52         1
43         1
45         1
46         1
47         1
49         1
50         1
51         1
72         1
Name: previous_bookings_not_canceled, dtype: int64

Value count kolom booking_changes:
0     101314
1      12701
2       3805
3        927
4        376
5        118
6         63
7         31
8         17
9          8
10         6
13         5
14         5
15         3
16         2
17         2
12         2
11         2
20         1
21         1
18         1
Name: booking_changes, dtype: int64

Value count kolom deposit_type:
No Deposit    104641
Non Refund     14587
Refundable       162
Name: deposit_type, dtype: int64

Value count kolom agent:
9.0      31961
240.0    13922
1.0       7191
14.0      3640
7.0       3539
6.0       3290
250.0     2870
241.0     1721
28.0      1666
8.0       1514
3.0       1336
37.0      1230
19.0      1061
40.0      1039
314.0      927
21.0       875
229.0      786
242.0      780
83.0       696
29.0       683
171.0      607
12.0       578
85.0       554
20.0       540
96.0       537
243.0      514
30.0       484
134.0      482
298.0      472
27.0       450
15.0       402
26.0       401
11.0       395
22.0       382
56.0       375
273.0      349
177.0      347
86.0       338
58.0       335
5.0        330
119.0      304
196.0      301
34.0       294
44.0       292
138.0      287
315.0      284
38.0       274
10.0       260
236.0      247
16.0       246
17.0       241
115.0      225
251.0      220
68.0       211
42.0       211
191.0      198
175.0      195
195.0      193
154.0      193
156.0      190
168.0      184
152.0      183
208.0      173
143.0      172
326.0      165
2.0        162
31.0       162
147.0      156
132.0      143
52.0       137
142.0      137
95.0       135
410.0      133
248.0      131
234.0      128
67.0       127
39.0       127
330.0      125
98.0       124
146.0      124
94.0       114
35.0       109
220.0      104
36.0       100
89.0        99
464.0       98
155.0       94
170.0       93
69.0        90
159.0       89
253.0       87
13.0        82

### Check Missing Value

In [51]:
missing_count = df.isnull().sum()

# Menghitung persentase missing value pada setiap kolom
missing_percentage = (df.isnull().sum() / len(df)) * 100

# Menggabungkan kedua Series ke dalam DataFrame
missing_df = pd.concat([missing_count, missing_percentage], axis=1)
missing_df.columns = ['Jumlah Missing Value', 'Persentase Missing (%)']

# Menampilkan kolom-kolom yang memiliki nilai null beserta persentase missing valuenya
missing_df[missing_df['Jumlah Missing Value'] > 0]

          Jumlah Missing Value  Persentase Missing (%)
children                     4                0.003350
city                       488                0.408744
agent                    16340               13.686238
company                 112593               94.306893

In [52]:
white_space = []
for col in df.columns:
    for val in df[col]:
        if isinstance(val, str) and '  ' in val:
            white_space.append(val)

# Output
print(white_space)

[]

Kesimpulan dari check missing value:

1. Ditemukan 4 kolom dengan missing value: 'children' (4 missing values), 'city' (488 missing values), 'agent' (16,340 missing values), dan 'company' (112,593 missing values).

2. Persentase missing value tertinggi dimiliki oleh kolom 'company' dengan 94.31%, diikuti oleh 'agent' dengan 13.69%.

3. Tidak ditemukan nilai yang mengandung whitespace ganda dalam dataset.

## Handling Missing Value

Berdasarkan hasil check missing value, berikut adalah saran treatment yang tepat untuk null values:

1. **children**: Karena hanya terdapat 4 missing values pada kolom ini, kita bisa melakukan drop pada missing value.

2. **city**: Karena jumlah missing values cukup signifikan (488), dan mengingat kolom ini berisi informasi tentang kota, kita bisa mempertimbangkan untuk menggantinya dengan nilai yang paling sering muncul (mode).

3. **agent**: Dengan 16,340 missing values dan jumlah nilai yang berbeda sebanyak 333. Hal ini membuat menggantikan missing values dengan nilai rata-rata atau median tidaklah cocok, karena hal itu dapat mengaburkan informasi yang ada dalam kolom 'agent'. Sebagai gantinya, Anda dapat melakukan drop pada baris-baris yang memiliki nilai hilang tersebut agar tidak mengganggu analisis yang akan dilakukan pada kolom 'agent'.

4. **company**: Dengan 112,593 missing values, kemungkinan besar kolom ini tidak akan memberikan informasi yang signifikan. Sebaiknya, menghapus kolom ini dari dataset.

In [53]:
df.dropna(subset=['children'], inplace=True)
df['city'].fillna(df['city'].mode()[0], inplace=True)
df.dropna(subset=['agent'], inplace=True)
df.drop('company', axis=1, inplace=True)

In [54]:
df.isna().sum()

hotel                             0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_weekdays_nights          0
adults                            0
children                          0
babies                            0
meal                              0
city                              0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
booking_changes                   0
deposit_type                      0
agent                             0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
reservation_status                0
dtype: int64